%form{:class=>"right hide question_comment", :action=>"/comment/question/#{question.id}", :method=>"post"}
    %textarea{:class=>"align_bottom", :name=>"comment", :rows=>"4", :cols=>"50"}
    %input{:type=>"submit", :value=>"Post Your Comment", :class=>"align_bottom"}